<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Home</title>
</head>
<body>

<div>
    <h4>Current Projects</h4>
    <table>
        <thead>
            <tr>
                <th>Project name</th>
                <th>Project stage</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="aProject : ${projectsList}">
                <td th:text="${aProject.name}"/>
                <td th:text="${aProject.stage}"/>
            </tr>

        </tbody>
    </table>

</div>

<div>
    <h4>Current Employees</h4>
    <table>
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="anEmployee : ${employeesList}">
            <td th:text="${anEmployee.firstName}"/>
            <td th:text="${anEmployee.lastName}"/>
            <td th:text="${anEmployee.email}"/>
        </tr>

        </tbody>
    </table>

</div>

</body>
</html>